
@{
    ViewBag.Title = "Benefits";
}

<h2>Benefits of SocialEyes?</h2>
<hr />
<p class="pull-right"><img src="~/Content/Images/SocialEyesLogo.png" /></p>
<div style="width:50%; text-align: justify;">
    <ul>
        <li><strong>Interactive!</strong></li>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
        <li><strong>Transperancy</strong></li>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <li><strong>Member Empowerment</strong></li>
        <p>Typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus.</p>
        <li><strong>Work life just made easier</strong></li>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
        <li><strong>Lorem Ipsum</strong></li>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
        <li><strong>Lorem Ipsum</strong></li>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
        @Html.ActionLink("Register", "Register", "Account") | 
        @Html.ActionLink("Home", "Index", "Home")
        
    </ul>
    
</div>

