
@{
    ViewBag.Title = "Benefits";
}

<h2>Benefits of SocialEyes?</h2>
<div style="background-color:lightgreen; border-radius:10px; height: 350px;">
    <ul>
        <li style ="font-size: 30px;">Interactive!</li>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words</p>
        <li style="font-size: 30px;">Transperancy</li>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <li style="font-size: 30px;">Member Empowerment</li>
        <p>typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus</p>
        <li style="font-size: 30px;">Work life just made easier</li>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
        <p style="float:right;"><a class="btn btn-warning" @Html.ActionLink("Register", "Register", "Account")</a></p>
        <p style="float:right;"><a class="btn btn-success" @Html.ActionLink("Home", "Index", "Home")</a></p>
        
    </ul>
    
</div>

