
@{
    ViewBag.Title = "Clients";
}

<h1>Our Clients</h1>
<hr />
<div>  
    <img class="img-thumbnail" style="margin-right:4%;" src="~/Content/Images/Companies/2.jpg" />
    <img class="img-thumbnail" style="margin-right:4%;" src="~/Content/Images/Companies/1.jpg" />
    <img class="img-thumbnail" style="margin-right:4%;" src="~/Content/Images/Companies/three3.jpg" />
    <img class="img-thumbnail" src="~/Content/Images/Companies/aerlingus.png" />
    <br /><br />
    <img class="img-thumbnail" style="margin-right:4%;" src="~/Content/Images/Companies/Citigroup.png" />
    <img class="img-thumbnail" style="margin-right:4%;" src="~/Content/Images/Companies/deutsche.jpg" />
    <img class="img-thumbnail" style="margin-right:4%;" src="~/Content/Images/Companies/jp.png" />
    <img class="img-thumbnail" src="~/Content/Images/Companies/3.png" />
</div>
@Html.ActionLink("Register", "Register", "Account") |
@Html.ActionLink("Home", "Index", "Home")