
@{
    ViewBag.Title = "Clients";
}

<h1 style="font-size: 36px; color:darkgreen;">Look at the our Clients, and the number is growing!!</h1>
<div>
    <p style="float:right;"><a class="btn btn-warning" @Html.ActionLink("Register", "Register", "Account")</a></p>
    <p style="float:right;"><a class="btn btn-success" @Html.ActionLink("Home", "Index", "Home")</a></p>
    <h3 style="display:block;">
       
        <img src="~/Content/Images/Categories/Citigroup.png" style="width:150px; height:150px; border-radius: 10px;" /><br /><br />
        
        <img src="~/Content/Images/Categories/deutsche.jpg" style="width:150px; height:150px; border-radius: 10px;" /><br /><br />
        
        <img src="~/Content/Images/Categories/jp.png" style="width:150px; height:150px; border-radius: 10px;" />
    </h3>
    
</div>
