@{
    ViewBag.Title = "Contact";
}
<div>
    <h2>Contact Us</h2>
    <hr />
    <p class="pull-right"><img src="~/Content/Images/SocialEyesLogo.png" /></p>

    <div style="width:50%;">
        <h4>Feel free to drop a line anytime</h4>

        <address>
            6, Maxwell House<br />
            Bewley Court, Dublin 1,<br />
            <abbr title="Phone">P:</abbr>
            01 2796847
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:support@socialeyes.com">support@socialeyes.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:marketing@socialeyes.com">marketing@socialeyes.com</a>
        </address>
    </div>
    <br />
    <br />
    @Html.ActionLink("Register", "Register", "Account") | 
    @Html.ActionLink("Home", "Index", "Home")
</div>