@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="color:darkgreen; border-radius:5px; box-shadow:0px 2px 5px #808080">
    <h1>SocialEyes...</h1>
    <p class="lead"><i>"Making work life social"</i></p>
    <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Sign up today", "Register", "Account")</a></p>
</div>

<div class="row">
    <div class="col-md-4" style="color:darkgreen">
        <h2>Why SocialEyes?</h2>
        <p>
            Click to learn as to why SocialEyes can benefit your Social Committee!
        </p>
        <p><a class="btn btn-danger" @Html.ActionLink("The 'Why'?", "Benefits", "Home")</a></p>
    </div>
    <div class="col-md-4" style="color:darkgreen">
        <h2>Register now!</h2>
        <p>You are moments away from making life easier. Please click here. </p>
        <p><a class="btn btn-warning" @Html.ActionLink("Register", "Register", "Account")</a></p>
    </div>
    <div class="col-md-4" style="color:darkgreen">
        <h2>Who is using Socialise?</h2>
        <p>Click in to see who else has made life easier with SocialEyes</p>
        <p><a class="btn btn-success" @Html.ActionLink("Clients", "Clients", "Home")</a></p>
    </div>
</div>